[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
coverage = "*"

[packages]
beautifulsoup4 = "*"
feedparser = "*"
markdown = "*"
pymdown-extensions = "*"

[requires]
python_version = "3.6"
